/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    color: #333;
} 
a {
    text-decoration: none;
    cursor: pointer;
    color: #333;
}
button {
    cursor: pointer;
}  
li {
    list-style-type: none;
}
/* header */
.header {
    box-sizing: border-box;
    margin: 0px 0px 100px 0px;
    padding: 0px 0px 50px 0px;
    background: url(../img/header/bg.jpg) top no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.header-row {
    display: flex;
    justify-content: space-between;
    height: 150px;
    align-items: center;
}
.header__logo {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
}
.header__menu {}
.menu__icon {}
.menu__span {}
.menu__body {}
.menu__list {
    display: flex;
    justify-content: space-between;
    width: 450px;
}
.menu__link {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
    color: #333;
}
.menu__link:hover {
    text-decoration: underline;
}
.header__phone {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 18px;
    color: #333;
    text-decoration: underline;
}
.header__phone:hover {
    text-decoration: none;
}
.main {}
.main__title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 70px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    line-height: 1;
}
.main__subtitle {
    display: block;
    text-shadow: none;
}
.main__desc {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 30px;
    margin: 0px 0px 44px 0px;

}
.main__btn-wrap {
    width: 300px;
    height: 50px;
    margin: 0px 0px 58px 0px
}
.btn-wrap {
    position: relative;
}
.btn {
    position: relative;
    background: #FF352B;
    width: 100%;
    height: 100%;
    color: white;
    border: none;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 24px;
    z-index: 2;
}
.btn__decor {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10px;
    left: 10px;
    border: 2px solid white;
    z-index: 1;
}
.main__advantage {
    display: flex;
    justify-content: space-between;
}
.advantage-main {}
.advantage-main__blocks {
    display: flex;
    max-width: 550px;
    justify-content: space-between;
}
.advantage-main__block {}
.advantage-main__img {}
.advantage-main__desc {
    display: inline-block;
    max-width: 125px;
}
.advantage-main__btn-wrap {
    position: relative;
    width: 100px;
    height: 100px;
}
.advantage-main__btn {
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/header/phone.svg) center no-repeat;
    background-color: rgba(61, 155, 233, 0.8);
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
}
.advantage-main__decor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(61, 155, 233, 0.3);
    border-radius: 50%;
}
.advantage-main__btn:hover + .advantage-main__decor {
    animation: scale 2s linear infinite;
}

.process {
    margin: 0px 0px 22px 0px;

}
.process__title {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    margin: 0px 0px 66px 0px;
}
.process__bocks {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.process__block {
    margin: 0px 0px 78px 0px
}
.block-process {}
.block-process__img {
    vertical-align: top;
    width: 68px;
    min-height: 35px;
    object-fit: none;
    object-position: top left;
    margin: 0px 38px 0px 0px;
    padding: 2px 0px 0px 0px
}
.block-process__wrap {
    vertical-align: top;
    display: inline-block;
    max-width: 390px;
}
.block-process__title {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    margin: 0px 0px 15px 0px
}
.block-process__desc {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
}

.prices {
    text-align: center;
    margin: 0px 0px 100px 0px
}
.prices__title {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 30px;
    margin: 0px 0px 5px 0px
}
.prices__subtitle {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 24px;
    margin: 0px 0px 60px 0px
}
.prices__blocks {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.prices__block {
    width: 390px;
    padding: 80px 0px;
    border: 1px solid #EBEBEB;
}
.prices__block.active {
    border: 1px solid #FED100;
}
.block-prices {}
.block-prices__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    margin: 0px 0px 60px 0px;
}
.block-prices__desc {
    margin: 0px 0px 35px 0px;
}
.block-prices__desc li {
    margin: 0px 0px 25px 0px;
}
.block-prices__price {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 30px;
    margin: 0px 0px 55px 0px
}
.block-prices__btn {
    
}
.btn-prices {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    border: none;
    background: #FED100;
    padding: 12px 80px;
}
.btn-prices:hover {
    background: #ecc100;
}
.prices__button-prev {
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 50px;
    font-weight: bold;
    color:rgb(61, 155, 233);
    cursor: pointer;
}
.prices__button-next {
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 50px;
    font-weight: bold;
    color:rgb(61, 155, 233);
    cursor: pointer;
}

.cars {
    position: relative;
    min-height: 700px;
}
.cars__title {
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 24px;
    margin: 0px 0px 60px 0px
}
.cars__tabs {
    display: flex;
    justify-content: space-between;
    max-width: 650px;
    margin: 0px auto;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
}
.cars__tab {
    width: 200px;
    height: 50px;
    line-height: 2.2;
    text-align: center;
    border: 1px solid #EBEBEB;
    cursor: pointer;
}
.cars__tab.active {
    border: 1px solid #ecc100;
}
.cars__blocks {
}
.cars__block {
    display: flex;
    position: absolute;
    top: 160px;
    left: 50%;
    width: 1000px;
    transform: translateX(-50%);
    opacity: 0;
    transition: 1s;
}
.cars__block.active {
    opacity: 1;
}
.cars__block-left {
    margin: 0px 84px 0px 0px;
}
.block-left {}
.block-left__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    margin: 0px 0px 36px 0px
}
.block-left__desc li {
    margin: 0px 0px 28px 0px
}
.block-left__desc li::before {
    content: '✔';
    width: 14px;
    height: 14px;
    padding: 0px 16px 0px 0px;
}
.block-left__btn {}
.btn-prices {}
.cars__block__img {
    object-fit: cover;
    width: 650px;
    height: 460px;
}

.reviews {
    background: #FED100;
    margin: 0px 0px 100px 0px;
    padding: 0px 0px 100px 0px;
}
.reviews__title {
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 30px;
    margin: 0px 0px 60px 0px;
    padding: 80px 0px 0px 0px;
}
.reviews__blocks {
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 60px 0px;
}
.reviews__block {
    display: flex;
    flex-direction: column;
    width: 350px;
}
.reviews__name {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 24px;
    line-height: 1;
}
.reviews__data {
    line-height: 3;
}
.reviews__img {}
.reviews__desc {
    flex: 1 1 auto;
    margin: 0px 0px 18px 0px;
}
.reviews__more {
    text-decoration: underline;
}
.reviews__btn {
    display: block;
    margin: 0 auto;
}
.button {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    width: 250px;
    height: 50px;
    background: transparent;
    border: 1px solid #333333;
}

.contacts {
    margin: 0px 0px 100px 0px;
}
.container_small {
    width: 1000px;
    margin: 0 auto;
}
.contacts__title {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 30px;
    margin: 0px 0px 6px 0px;
}
.contacts__subtitle {
    margin: 0px 0px 30px 0px;
}
.contacts__wrap {
    display: flex;
    justify-content: space-between;
}
.contacts__wrap-btn {
    display: inline-block;
}
.contacts__btn {
    width: 250px;
    height: 50px;
    margin: 0px 0px 20px 0px;
}
.btn__decor_orange {
    border: 1px solid #FED100;
}

/* checkbox */
.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #333333;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    line-height: 1.2;
    padding: 0px 0px 0px 2px;
}

.custom-checkbox:checked+label::before {
    content: '✔';
}

  
.inp {
    position: relative;
    width: 300px;
    max-width: 280px;
    border-radius: 3px;
    overflow: hidden;
}
.inp .label {
    position: absolute;
    top: 20px;
    left: 12px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
    transform-origin: 0 0;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
    pointer-events: none;
}
.inp .focus-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
}
.inp input {
    -webkit-appearance: none;
    -moz-appearance: none;
            appearance: none;
    width: 300px;
    border: 0;
    font-family: inherit;
    padding: 16px 12px 0 12px;
    height: 56px;
    font-size: 16px;
    font-weight: 400;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
    color: #000;
    transition: all 0.15s ease;
}
.inp input:hover {
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
}
.inp input:not(:-moz-placeholder-shown) + .label {
    color: rgba(0, 0, 0, 0.5);
    transform: translate3d(0, -12px, 0) scale(0.75);
}
.inp input:not(:-ms-input-placeholder) + .label {
    color: rgba(0, 0, 0, 0.5);
    transform: translate3d(0, -12px, 0) scale(0.75);
}
.inp input:not(:placeholder-shown) + .label {
    color: rgba(0, 0, 0, 0.5);
    transform: translate3d(0, -12px, 0) scale(0.75);
}
.inp input:focus {
    outline: none;
    box-shadow: inset 0 -2px 0 #FED100;
}
.inp input:focus + .label {
    color: #FED100;
    transform: translate3d(0, -12px, 0) scale(0.75);
}
.inp input:focus + .label + .focus-bg {
    transform: scaleX(1);
    transition: all 0.1s ease;
}

.map {
    position: relative;
}
.map-block {
    position: absolute;
    top: 150px;
    left: 20%;
    background: white;
    padding: 40px 35px;
}
.map-block__title {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 30px;
    margin: 0px 0px 40px 0px;
}
.map-block__info li {
    margin: 0px 0px 20px 0px;
}
.map-block__info li::before {
    content: "✔";
    color: #FED100;
    margin: 0px 15px 0px 0px;
}
.map-block__info li a {
    color:#333333;
    text-decoration: underline;
}
.map-block__social {
    text-align: right;
}
.social a {
    margin-right: 25px;
}
.social a:last-child {
    margin-right: 0px;
}

.social svg:hover {
    fill:#FF352B
}
footer {
    padding: 100px 0px;
    background: #FED100;
}
.container_grid {
    display: grid;
    grid-template-columns: 250px 1fr 200px 1fr;
    grid-template-areas: 
        "info nav social call";
    gap: 10%;
    width: 1200px;
    margin: 0 auto;
}
.footer__info {
    grid-area: info;
}
.info-footer {}
.info-footer__logo {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 30px;
    margin: 0px 0px 44px 0px
}
.info-footer__politic {
    margin: 0px 0px 36px 0px;
}
.info-footer__data {}
.footer__nav {
    grid-area: nav;
}
.footer__nav li {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    margin: 0px 0px 14px 0px;
}
.footer__nav li:hover {
    text-decoration: underline;
}
.footer__social {
    grid-area: social
}

.social__mail {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    text-decoration: underline;
    margin-top: 10px;
}
.footer__call {
    grid-area: call;
}
.call-footer {}
.call-footer__btn {}
.button {}
.call-footer__phone {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
    margin-top: 5px;
}


@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

@media (max-width: 1200px) {
    .container {
        width: 90%;
    }
    .container_small {
        width: 90%;
    }
    .container_grid {
        width: 90%;
        gap: 0;
    }
    .block-process__img {
        display: none;
    }

}
@media (max-width: 992px) {
    .menu__icon {
      position: relative;
      width: 30px;
      height: 18px;
      cursor: pointer;
      z-index: 70;
    }
        
    .menu__icon span {
      transition: all 0.3s ease 0s;
      top: calc(50% - 1px);
      left: 0;
      position: absolute;
      width: 100%;
      height: 2px;
      background: #333;
    }
    .menu__icon span:first-child {
      top: 0px;
    }
    .menu__icon span:last-child {
      top: auto;
      bottom: 0px;
    }
    .menu__icon.active span {
      transform:  scale(0);
    }
    .menu__icon.active span:first-child {
      transform: rotate(-45deg);
      top: calc(50% - 1px);
    }
    .menu__icon.active span:last-child {
      transform: rotate(45deg);
      bottom: calc(50% - 1px);
    }
    body.lock {
        overflow: hidden;
    }
    .menu__body {
        display: none;
    }
    .header__phone {
        display: none;
    }
    .block-process__img {
        display: inline-block;
    }
    .process__bocks {
        justify-content: center;
    }
    .cars__block__img {
        width: 400px;
    }
    .cars__block {
        width: 750px;
    }
    .contacts__wrap {
        flex-wrap: wrap;
        justify-content: start;

    }
    .inp {
        margin-right: 20px;
        margin-bottom: 60px;
    }
    .map-block {
        display: none;
    }
    .container_grid {
        grid-template-areas: 
        "info nav"
        "call social";
        gap: 20px;
        grid-template-columns: 1fr 1fr;
    }
    .call-footer__phone {
        text-align: left;
    }
  }
@media (max-width: 768px) {
    .advantage-main__img {
        display: none;
    }
    .main__title {
        font-size: 40px;
    }
    .block-left__desc {
        display: none;
    }
    .cars__block {
        width: 400px;
        flex-direction: column-reverse;
        align-items: center
    }
    .block-left__title {
        text-align: center;
    }
    .cars__block-left {
        margin: 0;
    }
    .cars__tab {
        border: none;
        width: auto;
    }
    .cars__tab.active {
        border: none;
    }
}
@media (max-width: 576px) {
    .container {
        width: 95%;
    }
    .advantage-main__btn-wrap {
        display: none;
    }
    .main__btn-wrap {
        width: 250px;
    }
    .block-process__img {
        display: none;
    }
    .process__block {
        margin-bottom: 30px;
    }
    .cars__block__img {
        width: 300px;
    }
    .cars__block {
        width: 300px;
    }
    .cars {
        min-height: 600px;
    }
    .footer__nav {
        display: none;
    }
    .container_grid {
        grid-template-areas: 
        "info"
        "call"
        "social";
        gap: 20px;
        grid-template-columns: 1fr;
    }
}