/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    color: #333;
} 
a {
    text-decoration: none;
    cursor: pointer;
}
button {
    cursor: pointer;
}  
li {
    list-style-type: none;
}
/* header */
.header {
    box-sizing: border-box;
    margin: 0px 0px 100px 0px;
    background: url(../img/header/bg.jpg) top no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.header-row {
    display: flex;
    justify-content: space-between;
    height: 150px;
    align-items: center;
}
.header__logo {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
}
.header__menu {}
.menu__icon {}
.menu__span {}
.menu__body {}
.menu__list {
    display: flex;
    justify-content: space-between;
    width: 450px;
}
.menu__link {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
    color: #333;
}
.menu__link:hover {
    text-decoration: underline;
}
.header__phone {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 18px;
    color: #333;
    text-decoration: underline;
}
.header__phone:hover {
    text-decoration: none;
}
.main {}
.main__title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 70px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    line-height: 1;
}
.main__subtitle {
    display: block;
    text-shadow: none;
}
.main__desc {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 30px;
    margin: 0px 0px 44px 0px;

}
.main__btn-wrap {
    width: 300px;
    height: 50px;
    margin: 0px 0px 58px 0px
}
.btn-wrap {
    position: relative;
}
.btn {
    position: relative;
    background: #FF352B;
    width: 100%;
    height: 100%;
    color: white;
    border: none;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 24px;
    z-index: 2;
}
.btn__decor {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10px;
    left: 10px;
    border: 2px solid white;
    z-index: 1;
}
.main__advantage {
    display: flex;
    justify-content: space-between;
}
.advantage-main {}
.advantage-main__blocks {
    display: flex;
    width: 550px;
    justify-content: space-between;
}
.advantage-main__block {}
.advantage-main__img {}
.advantage-main__desc {
    display: inline-block;
    width: 125px;
}
.advantage-main__btn-wrap {
    position: relative;
    width: 100px;
    height: 100px;
}
.advantage-main__btn {
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/header/phone.svg) center no-repeat;
    background-color: rgba(61, 155, 233, 0.8);
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
}
.advantage-main__decor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(61, 155, 233, 0.3);
    border-radius: 50%;
}
.advantage-main__btn:hover + .advantage-main__decor {
    animation: scale 2s linear infinite;
}

.process {
    margin: 0px 0px 22px 0px;

}
.process__title {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    margin: 0px 0px 66px 0px;
}
.process__bocks {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.process__block {
    margin: 0px 0px 78px 0px
}
.block-process {}
.block-process__img {
    vertical-align: top;
    width: 68px;
    min-height: 35px;
    object-fit: none;
    object-position: top left;
    margin: 0px 38px 0px 0px;
    padding: 2px 0px 0px 0px
}
.block-process__wrap {
    vertical-align: top;
    display: inline-block;
    width: 390px;
}
.block-process__title {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    margin: 0px 0px 15px 0px
}
.block-process__desc {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
}

.prices {
    text-align: center;
    margin: 0px 0px 100px 0px
}
.prices__title {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 30px;
    margin: 0px 0px 5px 0px
}
.prices__subtitle {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 24px;
    margin: 0px 0px 60px 0px
}
.prices__blocks {
    display: flex;
    justify-content: space-between;
}
.prices__block {
    width: 390px;
    padding: 80px 0px;
    border: 1px solid #EBEBEB;
}
.prices__block.active {
    border: 1px solid #FED100;
}
.block-prices {}
.block-prices__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    margin: 0px 0px 60px 0px;
}
.block-prices__desc {
    margin: 0px 0px 35px 0px;
}
.block-prices__desc li {
    margin: 0px 0px 25px 0px;
}
.block-prices__price {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 30px;
    margin: 0px 0px 55px 0px
}
.block-prices__btn {
    
}
.btn-prices {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    border: none;
    background: #FED100;
    padding: 12px 80px;
}
.btn-prices:hover {
    background: #ecc100;
}

.cars {
    position: relative;
    min-height: 700px;
}
.cars__title {
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 24px;
    margin: 0px 0px 60px 0px
}
.cars__tabs {
    display: flex;
    justify-content: space-between;
    max-width: 650px;
    margin: 0px auto;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
}
.cars__tab {
    width: 200px;
    height: 50px;
    line-height: 2.2;
    text-align: center;
    border: 1px solid #EBEBEB;
}
.cars__tab.active {
    border: 1px solid #ecc100;
}
.cars__blocks {
}
.cars__block {
    position: absolute;
    top: 160px;
    left: 50%;
    width: 1000px;
    transform: translateX(-50%);
}
.cars__block-left {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 84px 0px 0px;
}
.block-left {}
.block-left__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    margin: 0px 0px 36px 0px
}
.block-left__desc li {
    margin: 0px 0px 28px 0px
}
.block-left__desc li::before {
    content: '✔';
    width: 14px;
    height: 14px;
    padding: 0px 16px 0px 0px;
}
.block-left__btn {}
.btn-prices {}
.cars__block__img {
    width: 650px;
    vertical-align: middle;
    
}

.reviews {
    background: #FED100;
    margin: 0px 0px 100px 0px;
    padding: 0px 0px 100px 0px;
}
.reviews__title {
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 30px;
    margin: 0px 0px 60px 0px;
    padding: 80px 0px 0px 0px;
}
.reviews__blocks {
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 60px 0px;
}
.reviews__block {
    display: flex;
    flex-direction: column;
    width: 350px;
}
.reviews__name {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 24px;
    line-height: 0.6;
}
.reviews__data {
    line-height: 3;
}
.reviews__img {}
.reviews__desc {
    flex: 1 1 auto;
    margin: 0px 0px 18px 0px;
}
.reviews__more {
    text-decoration: underline;
}
.reviews__btn {
    display: block;
    margin: 0 auto;
}
.button {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    width: 250px;
    height: 50px;
    background: transparent;
    border: 1px solid #333333;
}


@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}
